main{
    background-image: linear-gradient(to right bottom, #d8dce3, #9f9fa4, #69676a, #363435, #000000);
    h1{
        text-align: center;
        color: #7d8380;
        div{
            display: grid;
            grid-template-columns: repeat(3, 1fr) ;
            justify-items: center;
            div{
                text-align: center;
                width: 600px;
                h2{
                h3{
                img{
                    height: 900px;
                    width: 600px;
                }
                }
                }
            }
        }
    }
}