.main__bg--nosotros {
    background-image: linear-gradient(to right bottom, #d8dce3, #9f9fa4, #69676a, #363435, #000000);   
    height: 80vh;
}

.img__nosotros{
    width: 450px;
    height: 450px;
    border-radius: 50% 50% 0px 50%;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.p__main--nosotros {
            color: black;
            width: 400px;
            color: #aeec38; background-image: -webkit-linear-gradient(0deg, #aeec38 80%, #24ca19 79%, #94c353 74%); background-clip: text; -webkit-background-clip: text; -webkit-text-fill-color: transparent;
}

.h1__main--nosotros {
            text-align: center;
            color: #aeec38; background-image: -webkit-linear-gradient(0deg, #aeec38 80%, #24ca19 79%, #94c353 74%); background-clip: text; -webkit-background-clip: text; -webkit-text-fill-color: transparent;
}

.flex__container--main {
    display: flex;
    flex-direction: column;
}