p{
    color: rgb(255, 255, 255) ;
    }
    
.main__contacto {
    background-image: url("../images/remera.jpg");
    background-size: cover;
    height: 100vh;
}

.mb-3 , .mb-4 {
    color: rgb(255, 255, 255);
}