li{
    list-style: none;
    a{
    text-decoration: none;
    color: blueviolet;
    }
    
}

.main__index {
    background-image: url(https://images.pexels.com/photos/1292115/pexels-photo-1292115.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    color: #000000;
    height: 1000px  ;
}

.index__grid--container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-self: center;
}

.h1__main--index{
    font-family: $tipografia-general;
    color: black;
}

