p{
    color: rgb(0, 0, 0) ;
    }
    
.main__contacto {
    background-image: url("../images/remera.jpg");
    background-size: cover;
    height: 100vh;
}

.mb-3 , .mb-4 {
    color: rgb(0, 0, 0);
}